.header {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.content {
  display: flex;
  flex-direction: column;
}

.cardPlayer {
  display: flex;
  background-color: rgb(223, 143, 57) !important;
  color: whitesmoke;
  font-family: berkshire_swash;
  margin-top: 12px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: berkshire_swash;
  text-align: center;
  padding: 10px;
}